body{
   /* background: #CEE3F6; */
   /* background: #8181F7; */
   /* background: #A9D0F5; */
   background: #A9BCF5;
}
h1{
    text-align: center;
    font-size: 140px;
    color: #fff;
    font-family: DM Serif Display;
}
h2{
    text-align: center;
    color: #fff;
    font-family: DM Serif Display;
}
img{
            
    border : 0;
    width: 300px;
    height: 300px;
}
div{
    text-align: center;
}